fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input {
  width: 95%;
}

textarea {
  width: 95%;
}

select {
  width: 95%;
}

.card-preview {
  align-items: center;
  background-color: rgb(163, 224, 224);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  background-color: rgb(0, 245, 245);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
